<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.6/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAcjAZ24W-zWhhSokwfUNr2F__INQpB8AA",
    authDomain: "wedding-list-da55b.firebaseapp.com",
    databaseURL: "https://wedding-list-da55b.firebaseio.com",
    projectId: "wedding-list-da55b",
    storageBucket: "wedding-list-da55b.appspot.com",
    messagingSenderId: "883970461400",
    appId: "1:883970461400:web:7175fb29595af913d211ad"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>